$primary-color: #265359;
$background-color: #fbfaf8;
$details_colour: #707070;
.card_pad {
  padding: 30px 25px 0px 25px;
}
.save-button-styles {
  background-color: $primary-color;
  font-size: 15px;
  // padding: 5px;
  // width: 100px;
}
.form_title1 {
  color: $primary-color;
  font-size: 15px;
  font-weight: 600;
}
.invalidPassword {
  color: red;
}
